@import './reset';

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* https://github.com/sass/libsass/issues/2621 */

.light-mode {
  --color: #{$colorDark};
  --colorPrimary: #{$colorBlueWhite};
  --bg: #{$colorWhite};
  --bgSecondary: #{$colorWhiteSecondary};
  --border: #{$colorGrayDark};
}

.dark-mode {
  --color: #{$colorWhite};
  --colorPrimary: #{$colorBlueDark};
  --bg: #{$colorDark};
  --bgSecondary: #{$colorDarkSecondary};
  --border: #{$colorGrayDark};
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  min-height: calc(100vh);
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  transition: background-color $transition;
  will-change: background-color;
}

a {
  text-decoration: none;
  color: var(--color);
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: $transition;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
