@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 0, 0%, 4%;
    --foreground: 0, 0%, 100%;

    --primary: 199, 89%, 48%;
    --primary-foreground: 206, 76%, 53%;

    --success: 142, 71%, 45%;

    --warning: 44, 73%, 56%;

    --ring: 20 14.3% 4.1%;

    --muted: 0, 0%, 52%;

    --border: 0, 0%, 9%;
    --border-hover: 0, 0%, 15%;
  }
}
