@import "tailwindcss";

html {
  color-scheme: dark;
}

.lucide {
  stroke-width: 1px !important;
}

@theme {
    --color-background: hsl(0, 0%, 4%);
    --color-foreground: hsl(0, 0%, 100%);

    --color-primary: hsl(199, 89%, 48%);
    --color-primary-foreground: hsl(206, 76%, 53%);

    --color-success: hsl(142, 71%, 45%);

    --color-warning: hsl(44, 73%, 56%);

    --color-ring: hsl(20 14.3% 4.1%);

    --color-muted: hsl(0, 0%, 52%);

    --color-border: hsl(0, 0%, 9%);
    --color-border-hover: hsl(0, 0%, 15%);
}

.container {
  @apply mx-auto px-2 max-w-[42rem] w-full;
}
