@import './reset';

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  text-decoration: none;
  color: var(--color);
}

.container {
  max-width: calc(1220px - (30px * 2));
  margin: 0 auto;
  padding: 0 15px;
}
