@import './reset';

* {
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
}

/* https://github.com/sass/libsass/issues/2621 */

.light-mode {
  --color: var(--colorDark);
  --colorPrimary: var(--colorBlueWhite);
  --bg: var(--colorWhite);
  --bgSecondary: var(--colorWhiteSecondary);
  --border: var(--colorGrayWhite);
}

.dark-mode {
  --color: var(--colorWhite);
  --colorPrimary: var(--colorBlueDark);
  --bg: var(--colorDark);
  --bgSecondary: var(--colorDarkSecondary);
  --border: var(--colorGrayDark);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  color: var(--color);
  background-color: var(--bg);
}

a {
  color: var(--color);
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition-timing-function: ease-in-out;
  transition-duration: var(--transition);
  transition-property: opacity;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
