:root {
  --colorWhite: #fff;
  --colorWhiteSecondary: #f3f2f2;
  --colorBlueWhite: #1c93ca;
  --colorGrayWhite: #ddd;
  --colorDark: #333;
  --colorDarkSecondary: #37383c;
  --colorBlueDark: #03a9f4;
  --colorGrayDark: #666;
  --transition: 0.3s;
  --borderRadius: 2px;
}
